
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

main{
    padding: 40px 0 0 100px;
}

h1{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
div{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(255, 255, 255);
    margin: -2px;
}
.borda{
    border: 1px solid black;
}
.vermelho{

    background-color:#FF0000;
}

.azul{
    background-color: #00b0f0;
}

.verde{
    background-color:#00b050;
}
.amarelo{
    background-color:#ffff00;
}

footer{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
