main{
    padding: 40px 0 0 40px;
}

div{
    display: inline-block;
    width: 200px;
    height: 200px;
}
.borda{
    border: 1px solid black;
}
.vermelho{

    background-color:#FF0000;
}

.azul{
    background-color: #00b0f0;
}

.verde{
    background-color:#00b050;
}
.amarelo{
    background-color:#ffff00;
}